<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <% if (username) { %>
        <div class="ml-auto text-light d-flex align-items-center">Logged in as: <%= username %>! 
          <form method="POST" action="/logout">
            <button name="logout" type="submit" class="btn btn-outline-light ml-1" >Logout</button>
          </form></div>
      <% } else { %>  
        <form class="ml-auto form-inline" method="POST" action="/login">
          <label class="sr-only text-light mr-1" for="username">Login:</label>
          <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username">
          <button type="submit" class="ml-1 btn btn-outline-light">Login</button>
        </form>
      <% } %>
  </div>
  </nav>
</header>