<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
</head>
<body class="container">

<%- include('../partials/_header'); %>

<main class="py-5">
  <h1 class="h3">404</h1>
  <p>Ooops! We didn't find anything!</p>
</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

<%- include('../partials/_scripts'); %>
</body>
</html>