<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
</head>

<%- include('../partials/_header'); %>
<body class="container">
  <main class="py-5">
    <h3>Create TinyURL</h3>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group">
        <label class="mr-sm-2" for="longURL">Enter a URL:</label>
        <input
          class="form-control mb-3 mb-sm-0 mr-sm-2"
          type="text"
          name="longURL"
          placeholder="http://"
          style="width: 300px;"
        />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
  <div>
    <a href="/urls" class="btn btn-outline-primary">Back</a>
  </div>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

<%- include('../partials/_scripts'); %>
</body>
</html>